<!DOCTYPE html>
<html>
<head>
	<title>File Uploads</title>
</head>
<body>
    <div>
        <h1>File Upload</h1>
        <%= typeof msg != 'undefined' ? msg : '' %>
        <form action="/upload" method="POST">
            <input type="file" name="img" id="file-upload">
            <input type="submit" name="btn">
        </form>
    </div>
</body>
</html>