body {
font-family: "Roboto", "Montserrat", sans-serif;
margin: 0;
display: grid;
grid-template-rows: 3.5rem auto fit-content(8rem);
grid-template-areas: "header"
                     "main"
                     "section"
                     "footer";
height: 100%;
}

.main-header {
  width: 100%;
  position: absolute; 
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  grid-area: header;
  z-index: 20;
}

.main-header__brand {
  display: flex;
  flex-flow: row nowrap;
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 120%;
  margin-right: 2rem; 
  vertical-align: middle;
}

.main-header__brand p {
  margin-left: 1rem;

}

.main-header__brand img {
  height: 2.5rem;
  vertical-align: middle;
  align-self: center;
}


.main-nav {
  width: 100%;
}

.main-nav__items {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.main-nav__lists {
  display: flex;
  padding: 0;
  position: relative;
}

.main-nav__action {
  display: flex;
  flex-shrink: 0;
  margin-left: auto;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: white; /*formerly 0e4f1f */
  font-weight: 500;
  padding: 0.2rem 0;
}

.mobile-nav__item a {
  align-self: center;
  font-size: 0.7em;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #66ddf1;
  border-bottom: 5px solid #0e4f1f;
  cursor: pointer;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: black;
  background: #f1b304;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #f1b304;
  background: white;
  border-bottom: 5px solid #f1b304;
}


@media (max-width: 675px) {
  .main-nav__lists{
    display: none;
  }
  /* .main-nav {
    display: flex;
  } */
}

#body-header {
  width: 100%;
  height: 528px;
  grid-area: main;
}

.body-header__background {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.1) 10%, transparent),
    url("images/property-bg.jpg") center/cover no-repeat border-box,
    #66ddf1;
  width: 100%;
  height: 83vh;
}

@media (max-width: 500px) {
  .main-header {
    width: 100%;
    position: relative; 
    background: white;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
  }

  .main-nav__item a {
    text-decoration: none;
    color: #0e4f1f; 
  }

  .main-nav__lists {
    display: none;
  }

  .main-nav__item--cta {
    display: none;
  }

  .body-header__background {
    display: none;
  }
  .body-section {
    position: relative;
    display: block;
    margin: 1rem;
  }
}

.body-section {
  margin: 0;
  width: 100%;
  color: white;
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  padding: 15px;
  padding-left: 4.5rem;
  padding-right: 2rem;
  background-color: rgba(30, 4, 78, 0.86);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.body-section__text--cta {
  color: #051345;
  background: #cedf71;
  padding: 0.2rem;
  width: 8rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  cursor: pointer; 
  align-self: center;
  text-align: center;
}

.body-section__text--cta:hover,
.body-section__text--cta:active {
  background: rgba(5, 19, 69, 0.9);
  color: #cedf71;
}

.section-title {
  text-align: center;
  color: black; 
}

#item-features {
  margin: 3rem;
  grid-area: section;
}

#item-features {
  border-bottom: 2px solid #cedf71;
}

.item-feature__list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1rem;
}

.item-feature {
  align-self: center;
  text-align: center;
  margin: 0.5rem;
}

.item-feature h1 {
  font-size: 80%;
}

.item-feature__image img {
  height: 40px;
}

#body-main__properties {
  grid-area: section;
  text-align: center;
  margin: 3rem;
}

.main-property__lists {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 1rem;
}

.property {
  align-self: center;
  text-align: center;
  padding: 0.7rem;
  margin: 0.3rem;
  flex-shrink: 1;
  font-size: 80%;
}

.property img {
  height: 9rem;
  align-self: center;
  margin: auto;
}

.property__price {
  color: #858585;
}

.property__location {
  background: url(./images/map.svg) no-repeat;
}

.button {
  background: #f1b304;
  color: white;
  font: inherit;
  border: 1.5px solid #f1b304;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: #f1b304;
}

.button:focus {
  outline: none;
}



.main-auth__backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

#main-auth__modal {
  display: 
}


/* .modal {
  position: absolute;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 45%;
  background: white;
  padding: 1rem;
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
} */

.open {
  display: block !important;
}

.close {
  display: none !important;
}

/* .modal__action--negative img {
  position: absolute;
  right: 3px;
  top: 1px;
  opacity: 0.8;
  cursor: pointer;
}

.modal__action--negative img:hover,
.modal__action--negative img:active {
  opacity: 1;
} */

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }
  .main-footer__link {
    margin: 0 1rem;
  }
  .main-footer__links {
    flex-direction: row;
    justify-content: center;
  }
}

